# PostgreSQL
POSTGRES_DB=better_cloud_drive
POSTGRES_USER=bcd_user
POSTGRES_PASSWORD=change_me_in_production
POSTGRES_PORT=5432
DB_HOST=postgres
DB_PORT=5432
DB_NAME=better_cloud_drive
DB_USER=bcd_user
DB_PASSWORD=change_me_in_production

# Redis
REDIS_PORT=6379
REDIS_HOST=redis
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
