# SeaweedFS / S3-compatible storage
S3_ACCESS_KEY=admin
S3_SECRET_KEY=change_me_in_production
STORAGE_S3_ENDPOINT=http://seaweedfs:8333
STORAGE_S3_ACCESS_KEY=admin
STORAGE_S3_SECRET_KEY=change_me_in_production
SEAWEEDFS_S3_PORT=8333
SEAWEEDFS_WEBDAV_PORT=8888
SEAWEEDFS_MASTER_PORT=9333
